.col-1 {
  width: calc(100% / 12); }

.col-2 {
  width: calc(100% / 12 * 2); }

.col-3 {
  width: calc(100% / 12 * 3); }

.col-4 {
  width: calc(100% / 12 * 4); }

.col-5 {
  width: calc(100% / 12 * 5); }

.col-6 {
  width: 50%; }

.col-7 {
  width: calc(100% / 12 * 7); }

.col-8 {
  width: calc(100% / 12 * 8); }

.col-9 {
  width: calc(100% / 12 * 9); }

.col-10 {
  width: calc(100% / 12 * 10); }

.col-11 {
  width: calc(100% / 12 * 11); }

.col-12 {
  width: 100%; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.navbar {
  width: 100%;
  height: 70px;
  background-color: white; }
  .navbar_ul {
    width: 100%;
    display: flex;
    text-decoration: none; }
    .navbar_ul_li {
      text-decoration: none;
      padding: 15px 15px;
      list-style-type: none;
      margin-left: 20px;
      margin-top: 10px;
      letter-spacing: 4px; }
      .navbar_ul_li:hover {
        background-color: #ccc; }
    .navbar_ul-li {
      margin-left: 760px;
      padding: 15px 15px;
      margin-top: 10px;
      list-style-type: none;
      letter-spacing: 4px; }
      .navbar_ul-li:hover {
        background-color: #ccc; }
  @media screen and (max-width: 700px) {
    .navbar .colum {
      display: none; } }

.img-section {
  width: 100%;
  height: 720px;
  background-image: url(https://www.w3schools.com/w3images/hamburger.jpg); }
  @media screen and (max-width: 700px) {
    .img-section {
      background-size: cover;
      width: 100%;
      height: auto;
      height: 300px;
      width: 700px; } }
  .img-section-h1 {
    color: #5f6062;
    font-size: 30px;
    padding-top: 650px;
    padding-left: 20px;
    letter-spacing: 5px;
    font-weight: 100; }
    @media screen and (max-width: 700px) {
      .img-section-h1 {
        display: none; } }

.container {
  width: 78%;
  height: 750px;
  background-color: white;
  margin-left: 135px;
  margin-top: 100px; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between; }

.col-1 {
  width: 48%;
  height: 600px;
  background-image: url(https://www.w3schools.com/w3images/tablesetting2.jpg);
  background-size: cover;
  opacity: 0.7; }
  @media screen and (max-width: 700px) {
    .col-1 {
      display: none; } }

.col-2 {
  width: 48%;
  height: 600px; }
  .col-2-h1 {
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: 100;
    text-align: center;
    padding-top: 20px; }
    @media screen and (max-width: 700px) {
      .col-2-h1 {
        width: 400px; } }
  .col-2-p {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 100;
    text-align: center;
    padding-top: 30px; }
    @media screen and (max-width: 700px) {
      .col-2-p {
        width: 400px; } }
  .col-2-h2 {
    font-size: 17px;
    font-weight: 100;
    padding-left: 30px;
    padding-top: 30px;
    width: 100%;
    line-height: 24px; }
    @media screen and (max-width: 700px) {
      .col-2-h2 {
        width: 600px;
        font-size: 17px;
        margin-left: -100px;
        line-height: 25px; } }
  .col-2-h3 {
    font-size: 17px;
    font-weight: 100;
    padding-left: 30px;
    padding-top: 30px;
    width: 100%;
    line-height: 24px;
    color: silver; }
    @media screen and (max-width: 700px) {
      .col-2-h3 {
        width: 600px;
        font-size: 17px;
        margin-left: -100px;
        line-height: 25px; } }

.container {
  width: 78%;
  height: 600px;
  background-color: white;
  margin-left: 135px;
  margin-top: 100px; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between; }

.col-3 {
  width: 48%;
  height: 600px; }
  .col-3-h1 {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    padding-top: 30px;
    letter-spacing: 3px; }
    @media screen and (max-width: 700px) {
      .col-3-h1 {
        margin-left: -100px; } }
  .col-3-h2 {
    font-size: 24px;
    font-weight: 500;
    padding-top: 30px;
    letter-spacing: 4px; }
    @media screen and (max-width: 700px) {
      .col-3-h2 {
        margin-left: -100px; } }
  .col-3-p {
    padding-top: 15px;
    color: silver; }
    @media screen and (max-width: 700px) {
      .col-3-p {
        margin-left: -100px; } }
  @media screen and (max-width: 700px) {
    .col-3 {
      width: 100%; } }

.col-4 {
  width: 48%;
  height: 600px;
  background-image: url(https://www.w3schools.com/w3images/tablesetting.jpg);
  opacity: 0.7; }
  @media screen and (max-width: 700px) {
    .col-4 {
      width: 118%;
      margin-left: -100px;
      background-size: cover; } }

@media screen and (max-width: 700px) {
  .hr {
    width: 200%; } }

.container {
  width: 78%;
  height: 700px;
  background-color: white;
  margin-left: 135px;
  margin-top: 100px; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between; }

.col-md-1 {
  width: 100%;
  height: 600px; }
  .col-md-1-h1 {
    color: black;
    font-size: 35px;
    letter-spacing: 4px;
    font-weight: 100; }
    @media screen and (max-width: 700px) {
      .col-md-1-h1 {
        margin-left: -100px;
        margin-top: 420px; } }
  .col-md-1-p {
    padding-top: 50px;
    font-size: 15px; }
    @media screen and (max-width: 700px) {
      .col-md-1-p {
        margin-left: -100px; } }
  .col-md-1-h2 {
    font-size: 18px;
    padding-top: 20px;
    color: #607d8b; }
    @media screen and (max-width: 700px) {
      .col-md-1-h2 {
        margin-left: -100px; } }
  .col-md-1-h3 {
    padding-top: 20px;
    font-size: 15px;
    font-weight: 100; }
    @media screen and (max-width: 700px) {
      .col-md-1-h3 {
        margin-left: -100px; } }
  .col-md-1-input {
    width: 100%;
    height: 60px;
    margin-top: 20px;
    padding-left: 10px;
    border: none;
    border-bottom: 2px solid silver; }
    @media screen and (max-width: 700px) {
      .col-md-1-input {
        margin-left: -100px; } }
  .col-md-1-button {
    width: 140px;
    height: 40px;
    margin-top: 40px;
    border: none;
    cursor: pointer; }
    .col-md-1-button:hover {
      background-color: #ccc; }
    @media screen and (max-width: 700px) {
      .col-md-1-button {
        margin-left: 100px; } }

.footer {
  width: 100%;
  height: 130px;
  background-color: silver; }
  .footer-p {
    text-align: center;
    padding-top: 50px; }
    .footer-p a:hover {
      color: green; }
    @media screen and (max-width: 700px) {
      .footer-p {
        margin-left: 100px; } }
  @media screen and (max-width: 700px) {
    .footer {
      margin-left: -100px;
      margin-top: 400px;
      width: 118%; } }
